.home--services-and-cases-bg {
  background: linear-gradient (to bottom,
  $colors-grey-warm-4 0%,
  $colors-grey-warm-4 33%,
  $colors-white 33%,
  $colors-white 66%,
  $colors-mint-cool-40v 66%,
  $colors-mint-cool-40v 100%);
  background-color: $colors-white;
}

.home--case-studies-section {
  position: relative;
  width: 100%;
  margin-bottom: 56px !important;

  @media(min-width: $tablet-screen) {
    margin-bottom: 48px !important;
  }

  @media(min-width: $medium-large-screen) {
    margin-bottom: 80px !important;
  }

  .background-wrapper {
    position: absolute;
    bottom: -48px;
    height: 150px;
    width: 100%;
    background: $colors-mint-cool-40v;

    @media(min-width: $tablet-screen) {
      bottom: -8px;
    }

    @media(min-width: $medium-large-screen) {
      bottom: -80px;
    }

    @media(min-width: 1400px) {
      height: 200px;
    }
    @media(min-width: 1844px) {
      height: 350px;
    }
  }


  h2 {
    max-width: 1000px;
    color: $colors-grey-90;
    font-weight: 300;
    margin-bottom: 24px;
    @media(min-width: $medium-large-screen) {
      margin-bottom: 32px;
    }
  }

  h3 {
    margin-top: 8px;

  }

  h3,
  h4 {
    color: $colors-white;
  }

  .inner {
    max-width: $max-width;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //margin: 0 auto;
    .teasers {
      .teaser-content {
        padding: 0 !important;
        width: 100%;

        .title-wrapper {
          padding: 16px !important;
          @media(min-width: $tablet-screen) {
            padding: 24px !important;
          }
          @media(min-width: $medium-large-screen) {
            padding: 40px !important;
          }
        }
      }

      a {
        &:hover,
        &:focus,
        &:focus-within {
          .wrapper--case-study--teaser {
            .teaser-content {
              background: #1B1B1B;
              opacity: 1;

              .h3 {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .view-our-work-cta {
    position: relative;

    h3 {
      font-size: 16px;
      @media(min-width: $medium-large-screen) {
        font-size: 36px;
      }
    }

    a:hover,
    a:focus,
    a:focus-within {
      h3 {
        text-decoration: underline;
      }

    }

    .bg {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      object-fit: cover;
      opacity: 0;
    }

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      padding: 40px;
      color: $colors-white;
      transition: 0.5s ease;
      background-color: rgba(27, 27, 27, 0.8);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media(min-width: $tablet-screen) {
        margin-bottom: 40px;
      }
    }

    &__icon {
      width: 50px;
      height: auto;
    }

    h3 {
      margin-right: 15px;
    }

    .content:hover {
      background-color: rgba(27, 27, 27, 0.9);
    }
  }

  .cta {
    position: relative;
  }

  .cta:hover {
    .info {
      background-color: rgba(27, 27, 27, 0.9);
    }

    .img-overlay {
      opacity: 0.15;
    }
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    object-fit: cover;
  }

  .img-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $colors-grey-90;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    height: 30%;
    color: $colors-white;
    transition: 0.5s ease;
    background-color: rgba(27, 27, 27, 0.8);
    @media(min-width: $tablet-screen) {
      padding: 24px;
    }
    @media(min-width: $medium-large-screen) {
      padding: 40px;
    }
  }

  @media screen and (max-width: $large-screen) {

    .inner {
      margin-top: 50px;
    }

    .grid {
      row-gap: 32px;
    }

    .content > img {
      width: 30px;
    }

    .cta > .info {
      height: 35%;
      padding: 24px;
    }
  }
  @media screen and (max-width: $medium-screen) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 24px;
    }

    .cta > .info {
      height: 45%;
      padding: 14px;
    }
  }
}

.home--case-studies-section::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, $colors-mint-cool-40v, $colors-mint-cool-40v);
  transform: skewY(-5deg);
  content: '';
  height: 70%;
  @media(min-width: $tablet-screen) {
    bottom: 18%;
    height: 62%;
  }
  @media(min-width: $medium-large-screen) {
    bottom: 0;
  }
  @media(min-width: 1844px) {
    bottom: 18%;
  }
}
