.home--hero-section {
  position: relative;
  width: 100%;
  margin-bottom: 0;

  h1 {
    max-width: 770px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 33px;
    @media(min-width: 768px) {
      font-size: 28px;
      line-height: 39px;
      max-width: 430px;

    }
    @media(min-width: 1024px) {
      font-size: 48px;
      line-height: 67px;
      margin-bottom: 100px;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    @media(min-width: 768px) {
      display: block;
      top: -34px;
    }
    @media(min-width: 1024px) {
      top: 0;
    }
  }

  .inner {
    min-height: 373px;
    position: relative;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .info-text {
    z-index: 1;
  }

  .primary-button {
    padding: 12px 60px;
    font-size: 18px;
  }

  @media screen and (max-width: $large-screen) {


    img {
      width: calc(250px + 5vw);
    }

    h2 {
      max-width: 450px;
    }

    .primary-button {
      padding: 12px 40px;
      font-size: 18px;
    }

    .inner {
      margin: 0 5vw;
      min-height: 250px;
      margin-top: 50px;
    }
  }


}
