.home--hero-section {
  position: relative;
  width: 100%;
  margin-bottom: 56px;
  @media(min-width: $tablet-screen) {
    margin-bottom: 48px;
    margin-top: 30px;
  }
  @media(min-width: $medium-large-screen) {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 33px;
    @media(min-width: $tablet-screen) {
      font-size: 28px;
      line-height: 39px;

    }
    @media(min-width: $medium-large-screen) {
      font-size: 48px;
      line-height: 67px;
      margin-bottom: 32px;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    @media(min-width: $tablet-screen) {
      display: block;
      width: 222px;
      height: 195px;
    }
    @media(min-width: $medium-large-screen) {
      //  top: -55px;
      width: 411px;
      height: 378px;
    }
  }

  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .info-text {
    z-index: 1;
    @media(min-width: $tablet-screen) {
      width: 64%;
    }
    @media(min-width: $medium-large-screen) {
      width: 62%;
    }

    .button {
      margin-bottom: 0;
    }
  }

  .primary-button {
    padding: 12px 60px;
    font-size: 18px;
  }

  @media screen and (max-width: $large-screen) {


    h2 {
      max-width: 450px;
    }

    .primary-button {
      padding: 12px 40px;
      font-size: 18px;
    }


  }


}
