.home__services-section {
  width: 100vw;
  margin: 0px auto 200px auto;
  h2 {
    color: $colors-grey-90;
    margin-bottom: 32px;
    padding-top: 64px;
  }
  .inner {
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .body-large {
    max-width: 780px;
    color: $colors-grey-90;
    margin-bottom: 24px;
  }
  .primary-button {
    padding: 12px 60px 12px 60px;
    font-size: 18px;
    margin-bottom: 50px;
  }
  .service-cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: inline-grid;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin: 24px 0px 48px 0px;
  }

  @media screen and (max-width: $large-screen) {
    h2 {
      margin-bottom: 24px;
    }
    .body-large {
      max-width: none;
      margin-bottom: 16px;
    }
    .inner {
      margin: 0 5vw;
      margin-top: 50px;
    }
    .service-cards-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      display: inline-grid;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
      margin: 24px 0px 48px 0px;
    }
  }

  @media screen and (max-width: $medium-screen) {
    h2 {
      padding-top: 48px;
    }
    .service-cards-grid {
      display: grid;
      grid-template-columns: 100%;
      display: inline-grid;
      grid-row-gap: 32px;
    }
    .primary-button {
      display: none;
    }
  }
}
