.home--team-section {
  .inner {
    margin-top: 56px !important;

    .team-section--title,
    .team-section--role {
      margin-bottom: 14px;
      line-height: 34px;
      @media(min-width: $tablet-screen) {
        line-height: 39px;
      }
      @media(min-width: $medium-large-screen) {
        line-height: 50.4px !important;
      }
    }

    h3 {
      margin-bottom: 18px; // TODO global.
    }

    .content {
      margin-bottom: 40px;
    }

    @media screen and (max-width: $large-screen) {
      margin: 0 5vw;
    }

    @media screen and (min-width: $large-screen) {
      .layout-div {
        flex: 0.6 0;
      }
      h2 {
        margin-bottom: 30px; // TODO Global?
      }
      h3 {
        margin-bottom: 26px; // TODO global.
      }
    }
  }
}

.team--filter-btns-section {
  .inner {
    max-width: $max-width;
    position: relative;
    text-align: center;
  }

  button.team-filter-btn {
    cursor: pointer;
    border-radius: 100px;
    padding: 10px 20px;
    background: $colors-white;
    border: 1px solid $colors-grey-90;
    font-size: 16px;
    font-family: $primary-font;
    margin-right: 20px;
    margin-bottom: 10px;

    &:focus {
      color: $colors-white;
      background-color: $colors-grey-90;
      border: 1px solid $colors-grey-90;
    }

    &.selected {
      border: 1px solid $colors-red-50;
      color: $colors-red-50;

      &:focus {
        color: $colors-white;
      }

      &:hover {
        color: $colors-red-50;
      }
    }

    // Keep the hover state styles at the bottom for specificity. The :hover styles override
    // :focus and .selected.
    &:hover {
      background-color: transparent;
      border: 1px solid $colors-red-50;
      color: $colors-red-50;
    }
  }
}


.team--staff-teasers-grid-section {
  .inner {
    max-width: $max-width;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $large-screen) {
      margin-top: 48px;
      margin-bottom: 60px;
    }
  }
}

.home--team-section {
  width: 100vw;
  margin-bottom: 98px;
  @media(min-width: $medium-large-screen) {
    margin-bottom: 120px;
  }

  .primary-button:nth-child(2) {
    display: none;
  }

  .inner {
    max-width: $max-width;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  img {
    @media(min-width: $medium-large-screen){
      max-width: 714px;
    }
  }

  .column {
    width: 100%;
    justify-content: start;
    margin-right: 64px;
    align-items: flex-start;

    p {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    .primary-button {
      padding: 12px 27px;
    }
  }

  .team-picture-column {
    width: 100%;
    justify-content: start;
    align-items: flex-start;
  }

  @media screen and (max-width: $large-screen) {
    img {
      width: 100%;
      max-width: 714px;
    }

    h2 {
      margin-bottom: 24px;
      padding-top: 56px;
    }

    .body-large {
      max-width: none;
      margin-bottom: 16px;
    }

    .column {
      margin: 0;
    }

    .inner {
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    .button__primary {
      position: absolute;
      bottom: -102px;
    }
    .primary-button:nth-child(3) {
      display: none;
    }

    .primary-button:nth-child(2) {
      display: inline-block;
    }

    h2 {
      padding-top: 0;
      font-size: 26px;
      margin-bottom: 0;
    }

    img {
      margin-bottom: 50px;
    }
  }
}
