.team-page {
  max-width: 1200px;
  margin: 0 auto;
  button {
    padding: 10px 20px;
    border-radius: 14px;
    font-weight: 110%;
    background: $colors-white;
    margin-right: 20px;
    &.selected {
      background: #eeeeee; // TODO Change to selected color.
    }
  }
}

.home--team-section {
  width: 100vw;
  margin-bottom: 120px;

  .primary-button:nth-child(2) {
    display: none;
  }

  .inner {
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
  }

  .column {
    width: 100%;
    justify-content: start;
    margin-right: 64px;
    align-items: flex-start;

    p {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    .primary-button {
      padding: 12px 27px;
    }
  }

  .team-picture-column {
    width: 100%;
    justify-content: start;
    align-items: flex-start;
  }

  @media screen and (max-width: $large-screen) {
    img {
      width: 100%;
    }

    h2 {
      margin-bottom: 24px;
      padding-top: 56px;
    }

    .body-large {
      max-width: none;
      margin-bottom: 16px;
    }

    .column {
      margin: 0;
    }

    .inner {
      flex-wrap: wrap;
      margin: 0 5vw;
      margin-top: 50px;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    .primary-button:nth-child(3) {
      display: none;
    }

    .primary-button:nth-child(2) {
      display: inline-block;
    }

    h2 {
      padding-top: 48px;
    }

    img {
      margin-bottom: 50px;
    }
  }
}
