$colors-white: #fff;
$colors-black: #000;
$colors-grey-warm-4: #f5f5f0;
$light-gray: #c4c4c4;
$colors-red-50: #d83933;
$colors-red-60: #a23737;
$colors-grey-90: #1b1b1b;
$colors-grey-60: #515150;
$colors-mint-cool-40v: #00a398;
$colors-mint-cool-60v: #0f6460;
$colors-mint-cool-80v: #0b4b3f;
$colors-mint-cool-100v: #123131;
$primary-red: #d83933;
$primary-blue: #162e51;
$light-blue: #73b3e7;
$accent-warm-gold: #fa9441;
$accent-warm-light-gold: #ffbc78;
$secondary-red: #8b0a03;
$secondary-blue: #1a4480;
$secondary-alt-blue: #005ea2;
$gray-05: #f0f0f0;
$gray-10: #e6e6e6;
$gray-30: #adadad;
$gray-50: #757575;
$gray-70: #757575;
$gray-90: #171717;
