$colors-white: #fff;
$colors-grey-warm-4: #f5f5f0;
$colors-red-50: #d83933;
$colors-red-60: #a23737;
$colors-grey-90: #1b1b1b;
$colors-mint-cool-40v: #00a398;
$colors-mint-cool-60v: #0f6460;
$colors-mint-cool-80v: #0b4b3f;
$colors-mint-cool-100v: #123131;
