//====== Typography ===========
@mixin small-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

@mixin body {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  @media(min-width: $medium-large-screen) {
    font-size: 20px;
    line-height: 34px;
  }
}

@mixin header1 {
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;

  font-size: 24px;
  @media(min-width: $tablet-screen) {
    font-size: 36px;
    line-height: 50.4px;
  }
  @media(min-width: $medium-large-screen) {
    font-size: 48px;
    line-height: 78px;
  }
}

@mixin header2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  font-family: $secondary-font;

  @media screen and (min-width: $medium-screen) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 36px;
    line-height: 50px;
  }
}

@mixin header3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  @media screen and (min-width: $medium-screen) {
    font-size: 24px;
    line-height: 33px;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 28px;
    line-height: 33px;
  }
}

@mixin header4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  @media screen and (min-width: $medium-screen) {
    font-size: 20px;
    line-height: 33px;
  }
}

@mixin header5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;

  @media screen and (max-width: $large-screen) {
    font-size: 20px;
    line-height: 34px;
  }

  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin header6 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  font-family: $secondary-font;

  @media screen and (max-width: $large-screen) {
    font-size: 14px;
    line-height: 22px;
  }
}

@mixin top-clip {
  clip-path: polygon(0% 6.5em, 0% 100%, 100% 100%, 100% 0%);
  border: 0 solid transparent;
  border-width: 6.5em 0 0;
}

@mixin bottom-clip {
  clip-path: polygon(0% 0%, 0% 100%, 100% calc(100% - 6.5em), 100% 0%);
  border: 0 solid transparent;
  border-width: 0 0 6.5em;
}

// Sizing & layouts
@mixin section-inner-padding {
  //padding: px-to-rem(48px) 0;
  max-width: $max-width;
  margin: 0 24px;

  @media(min-width: 768px) {
    margin: 0 48px;
  }

  @media(min-width: $large-screen) {
    margin: 0 auto;
    //padding: px-to-rem(80px) 48px;
  }
}

// Button
@mixin primary-button($bg-color: $colors-red-50, $border-color: $colors-red-50, $txt-color: $colors-white, $hover-bg-color: $gray-90, $hover-border-color: $gray-90, $hover-txt-color: $colors-white) {
  align-items: center;
  padding: 12px 24px;
  background-color: $bg-color;
  border: 1px solid $border-color;
  color: $txt-color;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  display: inline-block;
  font-family: $primary-font;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .4s ease 0s, color .4s ease 0s, border .4s ease 0s;

  @media(min-width: $tablet-screen) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
    color: $hover-txt-color;
    border-color: $hover-border-color;
  }

  &:active {
    /* background-color: #6f3331; */
  }

  &.large {
    font-size: 18px;
    margin-bottom: 50px;
  }
}