$primary-font: 'Nunito';
$secondary-font: 'Work Sans';
$small-screen: 481px !default;
$medium-screen: 600px !default;
$medium-large-screen: 1000px !default;
$large-screen: 1201px !default;

// Mixins
@mixin small-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colors-grey-90;
  font-family: $secondary-font;
  margin: 0;
}

body,
.body,
.body-large,
.body-small {
  color: $colors-grey-90;
  font-family: $primary-font;
  margin: 0;
}

h1,
.h1 {
  font-style: normal;
  font-weight: 300;
  line-height: 33.6px;

  font-size: 24px;
  @media(min-width: $tablet-screen) {
    font-size: 36px;
    line-height: 50.4px;
  }
  @media(min-width: $medium-large-screen) {
    font-size: 48px;
    line-height: 78px;
  }
}

h2,
%h2,
.h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  font-family: $secondary-font;

  @media screen and (min-width: $medium-screen) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 36px;
    line-height: 50px;
  }
}

h3,
%h3,
.h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  @media screen and (min-width: $medium-screen) {
    font-size: 24px;
    line-height: 33px;
  }

  @media screen and (min-width: $large-screen) {
    font-size: 28px;
    line-height: 33px;
  }
}

h4,
%h4,
.h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  @media screen and (min-width: $medium-screen) {
    font-size: 20px;
    line-height: 33px;
  }
}

h5,
.h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  @media screen and (max-width: $large-screen) {
    font-size: 20px;
    line-height: 34px;
  }

  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    line-height: 22px;
  }
}

h6,
%h6,
.h6 {
  @include header6;
}

.header--small {
  @include header6;
  text-transform: uppercase;
}

a {
  color: $colors-mint-cool-60v;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $colors-mint-cool-80v;
  }

  &:active {
    color: $colors-mint-cool-100v;
  }
}

.body {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;

  @media screen and (max-width: $medium-screen) {
    font-size: 16px;
    line-height: 22px;
  }
}

.visually-hidden {
  visibility: hidden;
  height: 0;
}

.body-large {
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;

  @media screen and (max-width: $large-screen) {
    font-size: 20px;
    line-height: 33px;
  }

  @media screen and (max-width: $small-screen) {
    font-size: 16px;
    line-height: 22px;
  }
}

.body-small {
  @include small-text
}
