$primary-font: "Nunito";
$secondary-font: "Work Sans";
h1,
h2,
h3,
h4,
h5,
h6,
body,
.body-large,
.body-small {
  font-family: $primary-font;
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 78px;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 67px;
  text-align: left;
  font-family: $secondary-font;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}
h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
}
h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}
h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  font-family: $secondary-font;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
}

.body-large {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.body-small {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
