$small-screen: 481px !default;
$medium-screen: 600px !default;
$tablet-screen: 768px !default;
$medium-large-screen: 1024px !default;
$large-screen: 1201px !default;


// Padding & layouts
$small-spacing: px-to-rem(24px);
$max-width: 1200px;
