section,
.section {
  margin-bottom: 48px;

  .inner {
    @include section-inner-padding;

  }

  // Sections right above the footer should have no bottom margin.
  &:last-child {
    margin-bottom: 0;
  }

  .subsection {
    padding: 0 0 32px; // mobile-padding - paragraph-padding
  }

  @media screen and (min-width: $large-screen) {
    margin-bottom: 64px;
  }

}
