section,
.section {
  margin-bottom: 48px;

  .inner {
    margin: 0 24px;
    @media(min-width: 768px) {
      margin: 0 48px;
    }
    @media(min-width: 1024px) {
      margin: 0 auto;
    }

  }

  // Sections right above the footer should have no bottom margin.
  &:last-child {
    margin-bottom: 0;
  }

  .subsection {
    padding: 0 0 32px; // mobile-padding - paragraph-padding
  }

  @media screen and (min-width: $large-screen) {
    margin-bottom: 64px;
  }

}
