{
  "extends": "stylelint-config-sass-guidelines",
  "defaultSeverity": "warning",
  "plugins": [
    "stylelint-declaration-use-variable"
  ],
  "rules": {
    "max-nesting-depth": 2,
    "selector-class-pattern": null,
    "scss/percent-placeholder-pattern": null,
    "sh-waqar/declaration-use-variable": [
      "color",
      {
        "severity": "error"
      }
    ]
  }
}