.header-nav {
  display: none;

  li {
    list-style: none;
  }

  @media screen and (min-width: $large-screen) {
    display: block;

    .menu--list {
      display: flex;
      align-items: center;
    }
  }

  .menu--list__item {
    margin-left: px-to-rem(44px);
    position: relative;

    > ul {
      display: none;
    }

    // Style dropdown buttons
    button {
      display: block;

      &::after {
        background-image: url('../files/icons/menu-dropdown.svg');
        background-position: center 1px;
        background-repeat: no-repeat;
        display: inline-block;
        content: '';
        min-width: 10px;
        height:11px;
        margin-left: 8px;
        vertical-align: middle;

        // Icons in the red header should be white but should remain black when scrolled.
        .red-header:not(.scrolled) & {
          background-image: url('../files/icons/menu-dropdown-white.svg');
        }
      }
    }

    // Open submenu in expanded menu items
    &.expanded {
      > ul {
        background-color: $colors-white;
        display: block;
        position: absolute;
        margin-top: px-to-rem(14px);
        min-width: px-to-rem(137px);
        padding: px-to-rem(24px);
        box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);

        // Text color in the red header should remain black
        a {
          color: $colors-grey-90;
        }
      }

      // Rotate the dropdown icon
      button {
        &::after {
          transform:rotate(180deg);
          vertical-align: text-top;
        }
      }
    }
  }

  a,
  button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: $colors-grey-90;
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    font-family: $secondary-font;

  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
.red-header {
  .primary-button {
    &:hover,
    &:focus {
      background-color: #c9c9c9;
      text-decoration: none;
    }
  }
}
