.section--offering--client-logos {
  padding-top: 42px;
  margin-bottom: 30px;
  @media(min-width: $medium-large-screen) {
    padding-top: 0;
    margin-bottom: 48px;
  }
  h2 {
    margin: 0 20px;
    @media(min-width: $medium-large-screen) {
      margin: 0;
    }
  }
  .grid {
    column-gap: 24px;
    img {
      width: 109px;
      height: 108px;
    }
  }
}