.section--offering--client-logos {
  margin-bottom: 48px;
  padding-top: 24px;
  @media(min-width: $tablet-screen) {
    padding-top: 35px;
    margin-bottom: 40px;
  }
  @media(min-width: $medium-large-screen) {
    padding-top: 67px;
    //margin-bottom: 0;
  }
  .inner {
    margin: 0;
    @media(min-width: $tablet-screen) {
      margin: 0 48px;
    }
    @media(min-width: $large-screen) {
      margin: 0 auto;
    }
  }

  h2 {
    margin: 0 24px;
    @media(min-width: $tablet-screen) {
      margin: 0;
    }
  }

  .grid {
    column-gap: 24px;

    img {
      width: 109px;
      height: 108px;
    }
  }
}