.section--offering--staff {
  margin-bottom: 40px;
  @media(min-width: $tablet-screen) {
    margin-bottom: 64px;
  }
  @media(min-width: $large-screen) {
    margin-bottom: 80px;
  }
  .inner {
    margin: 0;
    @media(min-width: $tablet-screen) {
      margin: 48px;
    }
    @media(min-width: $large-screen) {
      margin: 0 auto;
    }
    h2 {
      padding-bottom: 32px;
      margin: 0 24px;
      @media(min-width: $tablet-screen) {
        margin: 0;
      }
    }

    .related-staff--wrapper {
      margin-bottom: 16px;
      @media(min-width: $medium-large-screen) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }

      .related-staff {
        display: flex;
        padding: 24px;
        background-color: $colors-grey-warm-4;
        margin-bottom: 16px;
        overflow: auto;
        position: relative;
        @media(min-width: $medium-large-screen) {
          margin-bottom: 0;
        }

        .staff-image {
          width: 56px;
          height: 56px;
          float: left;
          margin-right: 16px;
          @media(min-width: $tablet-screen) {
            width: 124px;
            height: 124px;
            margin-right: 24px;
          }

        }
        .staff-info {
          margin: auto 0;
        }

        .linkedin-icon {

          position: absolute;
          top: 17px;
          right: 24px;
          @media(min-width: $tablet-screen) {
            position: relative;
            margin-left: 16px;
            top: unset;
            right: unset;
          }


          img {
            width: 27px;
            height: 27px;
          }


        }

        .staff-name {
          margin-bottom: 0;
          margin-top: 0;
          font-weight: 300;
          display: flex;

        }

        .open-modal--btn {
          padding: 0;
          border: 0;
          font-size: 20px;
          color: $colors-mint-cool-60v;
          text-decoration: underline;
          font-weight: 300 !important;
          background: none;
          cursor: pointer;

          &:hover,
          &:focus {
            color: $colors-mint-cool-80v;
          }
        }
      }
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 27, 27, .85);
  //opacity: 0.85;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.ReactModal__Content--after-open {
  max-width: 854px;
  margin: auto;
  border: 0;
  padding: 20px;
  position: absolute;
  top: 120px !important;
  height: max-content;
  @media(min-width: $medium-large-screen) {
    padding: 64px;
  }

  button {
    padding: 8px;
    background-color: transparent;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;

    p {
      margin: 0;
    }
  }
  .staff-details--wrapper {
    @media (min-width: 500px) {
      display: flex;
    }

    .staff-image {
      width: 124px;
      height: 124px;
      margin-right: 24px;
    }
    .staff-info--wrapper {
      .staff-name {
        margin-right: 16px;
        float: left;
        padding-top: 5px;
        font-weight: 400;
        font-size: 24px;
        @media (min-width: 500px) {
          padding-top: 0;
          font-size: 28px;
        }
      }
      .staff-role {
        clear: both;
      }
      .linkedin-icon {
        float: left;
        margin-top: 3px;
        @media (min-width: 500px) {
          margin-top: 0;
        }
        @media (min-width: 600px) {
          margin-top: 3px;
        }
      }
    }

  }




  .staff-body {
    clear: both;
    padding-top: 40px;
  }

  button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.linkedin-icon {
  float: left;
  margin-top: 3px;
  &:hover,
  &:focus {
    .blue-icon {
      display: inline-block;
    }

    .black-icon {
      display: none;
    }
  }
}
.blue-icon {
  display: none;
  width: 27px;
  height: 27px;
}
