.section--offering--value-props {
  background-color: $colors-grey-warm-4;
  padding-top: 180px;
  padding-bottom: 24px;
  margin-bottom: 0;

  @media(min-width: $tablet-screen) {
    padding-bottom: 40px;
    padding-top: 175px;
  }
  @media(min-width: $medium-large-screen) {
    padding-top: 200px;
  }
  @media(min-width: 1200px) {
    padding-top: 164px;
    padding-bottom: 64px;
  }

  .inner {
    @media(min-width: 1200px) {
      max-width: $max-width;
    }

    .wrapper {
      display: flex;
    }

    h2,
    .icon {
      float: left;
    }

    h2 {
      padding-bottom: 16px;
      padding-top: 32px;
      @media(min-width: 1200px) {
        padding-top: 10px;
      }
    }

    .icon {
      margin-left: 8px;
      width: 35px;
      margin-top: 28px;
      @media(min-width: $medium-large-screen) {
        margin-left: 16px;
      }
    }

    .value-props--left {
      @media(min-width: $medium-large-screen) {
        padding-right: 50px;
      }
      @media(min-width: 1200px) {
        padding-right: 113px;
      }

    }

    .value-props--right {
      display: none;
      @media(min-width: $medium-large-screen) {
        display: block;
      }

      caption {
        display: inline-block;
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        padding-top: 2px;
      }
    }

    .body {
      clear: both;
    }
  }
}