.not-found {
  text-align: center;
  padding-bottom: 48px;
  @media(min-width: $medium-large-screen) {
    //padding-top: 52px;
    padding-bottom: 72px;
  }

  h1 {
    margin-top: 0;
    color: $colors-red-50;
  }

  h2 {
    text-align: center;
  }

  .not-found--body {
    padding-bottom: 24px;

    .list {
      padding-top: 24px;

      p {
        padding-bottom: 8px;
      }
    }
  }

  img {
    padding: 24px 0;
    max-width: 272px;
    @media(min-width: $tablet-screen) {
      max-width: 576px;
    }
    @media(min-width: $medium-large-screen) {
      max-width: 759px;
    }
  }
}