.services--content-section {
  position: relative;
  width: 100%;
  color: $colors-grey-90;
  margin-top: 48px;
  .inner.scroll {
    //& > div {
    //  padding-top: 85px;
    //}
  }
  .inner {
    position: relative;

    @media (min-width: 1024px) {
      max-width: 1200px;
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    & > div {
      max-width: 812px;
    }
    .services--sidebar {
      position: sticky;
      margin-bottom: 112px;
      top: 110px;
      flex: 1;
      list-style-type: none;
      display: none;
      @media(min-width: 1024px) {
        display: block;
      }
    }

    .body {
      max-width: 700px;
      font-weight: 300;
      padding: 6px 0;
    }

    .content {
      flex: 2;
      padding: 0 20px;
      @media(min-width: 1024px) {
        padding: 0;
      }
    }

    .primary-button {
      margin-top: 24px;
      font-size: 18px;
    }

    .services-content--icon {
      width: 52px;
      height: 50px;
      margin-right: 20px;
      float: left;

    }

    .services-content--label {
      font-weight: bold;
      font-size: 18px;
      float: left;
      padding-top: 11px;
    }

    .title {
      max-width: 640px;
      margin-bottom: 24px;
      clear: both;
      font-size: 20px;
      line-height: 33px;
      font-weight: 400;
      margin-top: 14px;
      display: inline-block;
      @media(min-width: 768px) {
        font-size: 28px;
      }
      @media(min-width: 1024px) {
        font-size: 36px;
        line-height: 50px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 33px;
    }
    a.body-large {
      font-weight: 300;
      color: $colors-mint-cool-60v;
      padding: 8px 0 32px;
      display: block;
    }
    .h4 {
      font-weight: 400;
      padding-bottom: 32px;
      font-size: 20px;
      @media(min-width: 768px) {
        font-size: 24px;
      }
      @media(min-width: 1024px) {
        font-size: 28px;
      }
    }

    .description {
      max-width: 640px;
      margin-bottom: 48px;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 40px;
      @media(min-width: 1024px) {
        margin: 24px 0 128px;
      }
      a {
        text-decoration: underline;
        font-weight: 300;
      }
      ul {
        @media(min-width: 1024px) {
          columns: 2;
          column-gap: 20px;
        }

        li {
          font-weight: 300;
        }
      }

    }

    ul {
      margin: 0;
      padding: 0px 20px;
      @media(min-width: 1024px) {
        padding: 0;
        margin-left: 20px;
        //columns: 2;
        column-gap: 80px;

      }

    }
    li.is-current {
      position: relative;
      a {
        color: $colors-red-50;
      }
      &::before {
        content: '';
        background-color: $colors-red-50;
        width: 4px;
        height: 22px;
        position: absolute;
        top: 6px;
        left: -9px;
        display: inline-block;
      }

    }
    li {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: $colors-grey-90;
      margin-bottom: 24px;
      a {
        text-decoration: none;
      }
    }

    h4,
    h5 {
      margin-bottom: 32px;
    }
  }


  @media screen and (max-width: $medium-large-screen) {
    .scrollpsy {
      display: none;
    }

    .title {
      max-width: none;
    }

    .description {
      max-width: none;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 20px;
      margin: 64px 0;
    }

    ul {
      margin-left: 20px;
      columns: 1;
    }
  }

  @media screen and (max-width: $small-screen) {
    h4 {
      font-size: 22px;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 20px;
      margin: 32px 0;
    }
  }
}
