.services--content-section {
  position: relative;
  width: 100%;
  color: $colors-grey-90;
  margin-top: 48px;

  .inner {
    position: relative;

    @media (min-width: 1024px) {
      max-width: 1200px;
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .scrollpsy {
      position: sticky;
      margin-bottom: 112px;
      top: 185px;
      flex: 1;
    }

    .body {
      max-width: 700px;
      font-weight: 300;
      padding: 6px 0;
    }

    .content {
      flex: 2;
      padding: 0 20px;
      @media(min-width: 1024px) {
        padding: 0;
      }
    }

    .primary-button {
      margin-top: 24px;
      font-size: 18px;
    }

    .services-content--icon {
      width: 57px;
      height: 57px;
      margin-right: 20px;
      float: left;

    }

    .services-content--label {
      font-weight: bold;
      font-size: 18px;
      float: left;
      padding-top: 20px;
    }

    .title {
      max-width: 640px;
      margin-bottom: 24px;
      padding-top: 32px;
      clear: both;
    }

    .description {
      max-width: 640px;
      margin-bottom: 48px;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 40px;
      @media(min-width: 1024px) {
        margin: 64px 0 112px;
      }

    }

    ul {
      margin: 0;
      padding: 0px 20px;
      @media(min-width: 1024px) {
        padding: 0;
        margin-left: 20px;
        columns: 2;
        column-gap: 80px;
      }

    }

    li {
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: $colors-grey-90;
      margin-bottom: 24px;
    }

    h4,
    h5 {
      margin-bottom: 32px;
    }
  }


  @media screen and (max-width: $medium-large-screen) {
    .scrollpsy {
      display: none;
    }

    .title {
      max-width: none;
    }

    .description {
      max-width: none;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 20px;
      margin: 64px 0;
    }

    ul {
      margin-left: 20px;
      columns: 1;
    }
  }

  @media screen and (max-width: $small-screen) {
    h4 {
      font-size: 22px;
    }

    .cta {
      background-color: #f5f5f0;
      padding: 20px;
      margin: 32px 0;
    }
  }
}
