.services--ellipses-section {
  position: relative;
  width: 100%;
  color: $colors-grey-90;

  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      max-width: 900px;
    }

    .body-large {
      margin: 32px 0;
      max-width: 800px;
    }
  }

  .ellipses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;

    .ellipse {
      text-transform: uppercase;
      padding: 10px 24px;
      
      box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      background-color: $colors-white;
      margin-right: 16px;
      margin-bottom: 24px;
    }
  }

  @media screen and (max-width: $large-screen) {
    .inner {
      margin: 0 5vw;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    h2 {
      max-width: none;
    }

    .body-large {
      max-width: none;
    }
  }
}
