.services--ellipses-section {
  position: relative;
  width: 100%;
  color: $colors-grey-90;

  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      max-width: 900px;
      font-weight: 400;
    }

    .body-large {
      margin: 32px 0;
      max-width: 800px;
    }
  }

  .ellipses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ellipse {
      text-transform: uppercase;
      padding: 10px 24px;
      box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      background-color: $colors-white;
      margin-right: 16px;
      margin-bottom: 24px;
      font-weight: 700;
      font-family: $secondary-font;
      @media(min-width: $tablet-screen) {
        font-weight: 600;
      }
      @media(min-width: $medium-large-screen) {
        font-weight: 700;
      }

    }

    .ellipse.us-design {
      padding: 10px 23px;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    h2 {
      max-width: none;
    }

    .body-large {
      max-width: none;
    }
  }
}
