.services__hero-section {
  width: 100%;
  background-color: $colors-mint-cool-60v;
  color: $colors-white;
  margin-bottom: 0px;

  .inner {
    position: relative;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
  }
  h2 {
    max-width: 850px;
    text-align: center;
    margin-bottom: 26px;
    font-weight: 300;
  }
  .body {
    max-width: 700px;
    font-weight: 300;
    padding: 6px 0px;
  }

  @media screen and (max-width: $large-screen) {
    .inner {
      margin: 0 5vw;
    }
  }
  @media screen and (max-width: $medium-large-screen) {
    background-color: white;
    color: $colors-grey-90;
    .inner {
      align-items: flex-start;
    }
    h2,
    .body {
      text-align: left;
      max-width: none;
    }
  }

  @media screen and (max-width: $small-screen) {
  }
}
