.services--hero-section {
  width: 100%;
  color: $colors-grey-90;
  margin-bottom: 0;

  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 100px;
  }

  h2 {
    max-width: 720px;
    margin-bottom: 26px;
    font-weight: 300;
  }

  .body {
    max-width: 525px;
    font-weight: 300;
    padding: 6px 0;
  }

  @media screen and (max-width: $large-screen) {
    img {
      width: calc(250px + 5vw);
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    background-color: $colors-white;
    color: $colors-grey-90;

    .inner {
      align-items: flex-start;
    }

    h2,
    .body {
      text-align: left;
      max-width: none;
    }
  }
  @media screen and (max-width: $tablet-screen) {
    h2,
    .body {
      width: 100%;
    }

    img {
      display: none;
    }
  }
}
