.temp-press-releases--main-section {
  margin-bottom: 120px !important;
  margin-top: 10px;
  .inner {
    max-width:720px;
    margin: 0 auto;
    .press-release--items {
      margin-top: 56px;
      span {
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 16px;
        display: block;
      }
      h2 {
        font-size: 18px;
        padding-bottom: 16px;
        line-height: 22px;
        @media(min-width: 768px) {
          font-size: 20px;
          line-height: 34px;
        }
        @media(min-width: 1024px) {
          font-size: 28px;
        }

      }
      p:last-child {
        padding-top: 16px;
      }
    }

  }
}