.section--company-data-diff {
  background-color: $colors-mint-cool-60v;
  padding: 48px 20px;

  .inner {
    max-width: $max-width;

    @media(min-width: $medium-large-screen) {
      display: flex;
    }

    h2,
    ul {
      color: $colors-white;
    }

    h2 {
      padding-bottom: 16px;
      @media(min-width: $medium-large-screen) {
        font-size: 36px;
      }
    }

    .list--wrapper {
      width: 100%;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }

      @media(min-width: $medium-large-screen) {
        padding-bottom: 0;
      }

      a {
        color: $colors-white;
      }
    }
  }
}
