.section--feedback--github {
  .inner {
    @media(min-width: $medium-large-screen) {
      max-width: 915px;
    }
    h2 {
      font-size: 24px;
      @media(min-width: $tablet-screen) {
        font-size: 28px;
      }
      @media(min-width: $medium-large-screen) {
        font-size: 36px;
      }
    }
  }
}