.banner {
  background: $colors-mint-cool-40v;
  color: $colors-white;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 100vw;
  .inner {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .banner-text {
    margin-right: 25px;
  }
  .close-icon {
    cursor: pointer;
  }
  @media screen and (max-width: $large-screen) {
    padding: 0 5vw;
  }
}
