.card {
  background: #ffffff;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
  padding: 26px 56px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  h5 {
    margin-left: 32px;
    color: $colors-grey-90;
  }
}
.card:hover {
  background: #f3f3f3;
}
.card:active {
  background: #f3f3f3;
  box-shadow: none;
}
.card:focus {
  background: #f3f3f3;
  box-shadow: none;
}
