.case-study-teaser {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $colors-grey-90;
  }
  &__info {
    max-height: 100px;
    transition: max-height 0.5s ease;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    padding: 40px;
    color: white;
    background-color: rgba(27, 27, 27, 0.75);
    h4,
    h6 {
      font-family: $secondary-font;
    }
    h4 {
      font-weight: 200;
    }
    .read-cta {
      margin-top: 30px;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      display: flex;
      background-color: transparent;
      img {
        margin-left: 16px;
      }
    }
  }
  &:hover {
    .img-overlay {
      opacity: 0.15;
    }
    .case-study-teaser__info {
      cursor: pointer;
      background-color: rgba(27, 27, 27, 1);
    }
  }
}
