.case-study-teaser {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__info {
    max-height: 100px;
    transition: max-height 0.5s ease;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    padding: 40px;
    color: white;
    background-color: rgba(27, 27, 27, 0.75);
    h4,
    h6 {
      font-family: $secondary-font;
    }
    h4 {
      font-weight: 200;
    }
    .read-cta {
      margin-top: 30px;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      display: flex;
      background-color: transparent;
      img {
        margin-left: 16px;
      }
    }
    &:hover {
      background-color: rgba(27, 27, 27, 0.9);
      max-height: 200px;
    }
  }
}
