.footer {
  background-color: #f5f5f0;
  .inner {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    max-width: 1200px;
    .info {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 1 0px;
    }
    .column {
      align-items: flex-start;
      justify-content: start;
    }
    .icons {
      margin-bottom: 60px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .social-icons > img {
        margin-left: 22px;
      }
    }
    .text-info {
      max-width: 330px;
      .body-small {
        margin-bottom: 24px;
      }
    }
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .body-small {
        font-weight: normal;
        padding: 10px 0;
      }
      a {
        color: $colors-grey-90;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        font-family: $secondary-font;
      }
    }
    .bottom {
      margin-top: 45px;
      align-items: flex-end;
      .bottom-links {
        .body-small {
          font-weight: normal;
          padding-left: 60px;
        }
      }
    }
  }
}
