.footer {
  @include small-text;

  background-color: #f5f5f0;

  //=========== Mobile-first styles ============


  .inner {
    @include section-inner-padding;
    padding: px-to-rem(48px) 0;
    @media(min-width: $medium-large-screen) {
      padding: px-to-rem(80px) 48px;
    }
  }

  .footer__bottom-links {
    padding-top: 16px;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__branding--logo {
    max-width: 218px;
  }

  &__menu {
    // @todo Standardize ul and li styles sitewide
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      padding: px-to-rem(8px) 0;
    }

    a {
      color: $colors-grey-90;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .child-menu--wrapper {
      padding: px-to-rem(16px) 0 0;
      break-inside: avoid;
    }
  }

  .footer__about-text {
    max-width: px-to-rem(360px);
  }

  //=========== Tablet styles ============

  @media (min-width: $tablet-screen) {
    // Name the footer areas.
    .footer__branding { grid-area: branding; }
    .footer__social { grid-area: social; }
    .footer__about-text { grid-area: about; }
    .footer__contact { grid-area: contact; }
    .footer__menu--wrapper { grid-area: menu_wrapper; }
    .footer__bottom-links { grid-area: links; }

    .grid-container {
      grid-template-columns: 1fr 40%;
      grid-template-rows: auto;
      grid-template-areas: 
      "branding branding"
      "social social"
      "about menu_wrapper"
      "contact menu_wrapper"
      "links menu_wrapper";
    }

    .footer__menu {
      columns: 2;

      .child-menu--wrapper {
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  //=========== Desktop Styles ===========

  @media (min-width: $large-screen) {
    .inner {
      padding: px-to-rem(120px) 0 px-to-rem(60px);
    }

    .grid-container {
      grid-template-columns: 35% 1.5fr repeat(3, 1fr);
      grid-template-areas :
        "branding branding branding . ."
        "about menu_wrapper menu_wrapper menu_wrapper menu_wrapper"
        "about contact . social social"
        "about contact links links links"
    }

    .footer__branding--logo {
      max-width: 300px;
    }

    .footer__menu {
      columns: 1;

      &--list {
        display: flex;
        justify-content: space-between;
        margin: 0;

        .top-link {
          padding: 0;
        }
      }

      li {
        padding: px-to-rem(4px) 0;
      }

      &--wrapper {
        margin-top: px-to-rem(56px);
      }
    }

    .footer__about-text {
      margin-top: px-to-rem(40px); // Set to 40px isntead of 56px bc the nested paragraph has a top margin of 1rem=16px.

      p {
        margin: px-to-rem(24px) 0;

        &:first-child {
          margin-top: 1rem;
        }
      }
    }

    .footer__bottom-links {
      gap: px-to-rem(36px);
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 0;

      p {
        margin: 0;
      }
    }

    //.footer__contact,
    //.footer__social {
    //  align-self: end;
    //}

    .social-icon {
      text-align: right;
      padding: 0;
    }
  }

}

.grid-container {
  @media (min-width: $tablet-screen) {
    display: grid;
  }
}

.parent-link {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}
.footer__contact {
  .footer__about-text {
    margin-top: 25px;
  }
}