.footer {
  @include small-text;

  background-color: #fff;

  //=========== Mobile-first styles ============
  .inner {
    @include section-inner-padding;
    padding: 48px 0;
    @media (min-width: $medium-large-screen) {
      padding: 96px 48px;
    }
  }

  .footer__bottom-links {
    @media (min-width: $tablet-screen) {
      margin-bottom: -17px;
      margin-top: 15px;
    }

    @media (min-width: $medium-large-screen) {
      margin-top: 0;
      margin-bottom: 0;
    }
    &--wrapper {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin: 1rem 0 0;
      a {
        padding: 0.5rem 0;
      }
    }
  }

  .footer__branding--logo {
    max-width: 218px;
  }

  .footer__menu--list {
    margin-bottom: 40px;
    @media (min-width: $tablet-screen) {
      margin-bottom: 0;
    }
  }

  &__menu {
    // @todo Standardize ul and li styles sitewide
    ul {
      padding-left: 0;
      margin-top: 2em;
      list-style: none;
    }

    li {
      margin: 1rem 0 0;

      a {
        padding: 0.5rem 0;
      }
    }

    .child-menu--wrapper {
      padding: 0;
      break-inside: avoid;
      border: 4px dashed lime;
    }
  }

  .footer__about-text {
    max-width: px-to-rem(294px);
  }
  .footer__branding {
    margin-bottom: px-to-rem(32px);
  }

  .social-icon {
    display: flex;
    list-style: none;
    margin: 0;
  }

  //=========== Tablet styles ============
  @media (min-width: $tablet-screen) {
    // Name the footer grid areas.
    .footer__branding {
      grid-area: branding;
    }
    .footer__social {
      grid-area: social;
      align-self: end;

      .social-icon {
        padding-bottom: 0;
        display: flex;
        justify-content: flex-start;
      }
    }
    .footer__about-text {
      grid-area: about;
      p:first-child {
        margin-top: 0;
      }
    }
    .footer__contact {
      grid-area: contact;
    }
    .footer__menu--wrapper {
      grid-area: menu;

      .footer__menu--list {
        margin-top: 0;

        li:first-child {
          margin-top: 0;
        }
      }
    }
    .footer__bottom-links {
      grid-area: links;

      &--wrapper {
        columns: 2;
        column-gap: 5rem;
      }
      li {
        margin-top: 0.25rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .grid-container {
      grid-template-columns: 1fr 40%;
      grid-template-rows: auto;
      grid-template-areas:
        'branding branding'
        'about menu'
        'contact menu'
        'social links';
    }

    .footer__menu {
      columns: 2;
      column-gap: 5rem;
    }
  }
  @media (min-width: $medium-large-screen) {
    .footer__bottom-links {
      padding-top: 16px;
    }
  }
  //=========== Desktop Styles ===========
  @media (min-width: $large-screen) {
    .grid-container {
      grid-template-columns: auto 1fr 2fr;
      column-gap: 6rem;
      grid-template-areas:
        'branding branding branding'
        'about contact menu'
        '. social social'
        '. links links';
    }

    .footer__branding {
      margin-bottom: px-to-rem(66px);
    }
    .footer__branding--logo {
      max-width: 300px;
    }

    .footer__about-text {
      p {
        margin: px-to-rem(24px) 0;
      }
    }
    .footer__contact {
      p:first-child {
        margin-top: 0;
      }
    }
    .footer__menu--wrapper {
      margin-top: 0;

      a {
        font-size: 20px;
        line-height: 33.6px;
      }
    }

    .footer__bottom-links--wrapper {
      columns: unset;
      text-align: right;
    }

    .footer__bottom-links {
      padding-top: 16px;
      margin-bottom: 6px;

      li {
        display: inline-block;
        margin-top: 0;

        a {
          padding: 0.5rem 1rem;
        }
        &:last-child a {
          padding-right: 0;
        }
      }
    }

    .footer__menu {
      columns: 3;
      column-gap: 4rem;

      &--list {
        margin: 0;
      }
    }

    .footer__social {
      margin-top: 1rem;

      .social-icon {
        text-align: right;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        .blue-icon {
          display: none;
        }

        .blue-icon,
        .black-icon {
          width: 40px;
          height: 41px;
        }

        a {
          &:hover,
          &:focus,
          &:focus-within {
            .blue-icon {
              display: inline-block;
            }

            .black-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}

.grid-container {
  @media (min-width: $tablet-screen) {
    display: grid;
  }
}
.footer__social {
  @media (min-width: $tablet-screen) {
    margin-bottom: -20px;
  }
  @media (min-width: $medium-large-screen) {
    margin-bottom: 5px;
  }
}
.parent-link {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}
