.header {
  padding: 75px 0 90px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  .header-nav {
    width: 650px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      color: $colors-grey-90;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 34px;
      font-family: $secondary-font;
    }
  }
  @media screen and (max-width: $large-screen) {
    padding: 75px 5vw 0px 5vw;
    .header-nav {
      display: none;
    }
  }
}
