.header {
  padding: 40px 24px 0;
  top: 0;
  background: $colors-white;
  z-index: 11;
  position: relative;

  @media(min-width: $tablet-screen) {
    padding: 48px 48px 15px;
  }

  @media(min-width: $medium-large-screen) {
    padding: 45px 5vw 15px;
  }

  @media(min-width: 1200px) {
    padding: 45px 0 15px;
  }

  &.mobile-menu-open {
    position: static;
  }

  .logo img {
    max-width: 159px;
    @media(min-width: $tablet-screen) {
      max-width: 294px;
    }

  }

  > .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width; // TODO 3.  This will be full width once sticky at top.
    margin: 0 auto 40px;
    position: relative;
  }
}

.header.scrolled-mobile {
  position: sticky;
  @media(min-width: $tablet-screen) {
    position: relative;
  }
}

@keyframes scroll {
  from {
    padding: 50px 0 20px;
  }
  to {
    padding: 15px 22px;
  }
}

.header.scrolled {
  position: sticky;
}

.header.scrolled,
.header.scrolled-mobile {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
  animation-name: scroll;

  .inner {
    margin-bottom: 0;
  }

  .logo img {

    max-width: 216px;
  }
  .bm-burger-button {
    right: 30px;
    top:7px;
  }

}

html {
  scroll-padding-top: 110px;
}
