.hero-component {
  @media(min-width: 1024px) {
    max-width: 825px;
    margin: 0 auto 86px;
    background-color: $colors-white;
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
  }
  .inner {
    padding: 0 20px;
    @media(min-width: 768px) {
      padding: 0 40px;
    }
    @media(min-width: 1024px) {

      padding: 42px 64px 67px;
    }
    h1 {
      padding-bottom: 24px;
    }
  }
}