.press-release-teaser {
  height: 100%;
  background-color: $colors-white;
  box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 220px;
    display: block;
    position: relative;
    object-fit: cover;
  }

  h3 {
    padding: 20px 40px 16px;
    text-decoration: none;
    @media(min-width: $medium-large-screen) {
      line-height: 39px;
    }
  }

  //
  //.body {
  //  padding: 0 40px 40px;
  //}

  &:hover,
  &:focus {
    background-color: #f3f3f3;

    h3 {
      text-decoration: underline;
    }
  }

  &:active {
    background-color: #f3f3f3;
    box-shadow: none;
  }
}

.press-release-teaser {

  h3 {
    padding: 24px;
  }

  a {
    text-decoration: none;
  }

  .body {
    padding: 0 24px 36px;
  }
}

.secondary-press-releases {
  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background-color: #f3f3f3 !important;
    text-decoration: underline;
  }

  img:hover,
  img:focus {
    background-color: transparent !important;
  }

  .grid-item-3-1:last-child {
    margin-bottom: 0 !important;
  }
}
