.primary-button {
  align-items: center;
  padding: 12px 24px 12px 24px;
  background-color: $colors-red-50;
  color: $colors-white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  font-family: $secondary-font;
}
.primary-button:hover {
  background-color: $colors-red-60;
}
.primary-button:active {
  background-color: #6f3331;
}
.primary-button:focus {
  background-color: #6f3331;
}
