.secondary-button,
.button__secondary {
  align-items: center;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid $colors-white;
  color: $colors-white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $colors-white;
    color: $colors-grey-90;
  }

  &:active {
    background-color: $colors-white;
    color: $colors-grey-90;
    background-color: #c9c9c9;
  }

  &:focus {
    background-color: $colors-white;
    color: $colors-grey-90;
    background-color: #c9c9c9;
  }
}
