.secondary-button {
  align-items: center;
  padding: 12px 24px 12px 24px;
  background-color: transparent;
  border: 1px solid white;
  color: $colors-white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  font-family: $secondary-font;
}
.secondary-button:hover {
  background-color: white;
  color: $colors-grey-90;
}
.secondary-button:active {
  background-color: white;
  color: $colors-grey-90;
  background-color: #c9c9c9;
}
.secondary-button:focus {
  background-color: white;
  color: $colors-grey-90;
  background-color: #c9c9c9;
}
