.background {
  background-color: red;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(27, 27, 27, 0.8);
  display: none;
  width: 100vw;
  .sidebar {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 60%;
    display: none;
    padding: 32px 64px 64px 64px;
    .close {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 0px 0px 24px 0px;
      img {
        width: 25px;
        filter: grayscale(100%) brightness(40%);
      }
    }
    .divisor {
      width: 100%;
      height: 1px;
      width: 100%;
      background: #c4c4c4;
    }
    .link {
      padding: 24px 0px;
      a {
        text-decoration: none;
        color: $colors-grey-90;
      }
      h3 {
        padding-top: 32px;
        font-weight: 300;
        display: none;
      }
      .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 20px;
          filter: grayscale(100%) brightness(40%);
        }
      }
    }
    .collapsed {
      h3 {
        display: flex;
      }
      img {
        transform: rotate(90deg);
      }
    }
  }
  @media screen and (max-width: $large-screen) {
    display: flex;
    .sidebar {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: $medium-screen) {
    .sidebar {
      padding: 32px;
    }
  }
}
