.skip-nav-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-nav-link:focus {
  background: white;
  clip: auto;
  height: auto;
  left: 10px;
  padding: 1rem;
  position: fixed;
  overflow: auto;
  top: 0px;
  width: auto;
  z-index: 1001;
}
