.section--case-study--stats,
.section--offering--stats {
  position: relative;
  margin: 0 20px;

  .stats--wrapper {
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
    background-color: $colors-white;
    margin: 0 auto -175px;
    @media(min-width: $tablet-screen) {
      margin: 0 auto -150px;
    }
    @media(min-width: 1200px) {
      max-width: $max-width;
      margin: 0 auto -100px;
    }
  }

  .inner {
    padding: 32px 0;
    @media(min-width: $tablet-screen) {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 32px;
    }
    @media(min-width: $large-screen) {
      padding: 47px 113px;
    }

    .single-stat:last-child {
      @media(min-width: $medium-large-screen) {
        margin-right: 0;
      }
    }

    .single-stat {
      text-align: center;
      margin-bottom: 32px;
      @media(min-width: $tablet-screen) {
        margin-right: 46px;
      }

      @media(min-width: $medium-large-screen) {
        margin-right: 50px;
        margin-bottom: 0;
      }

      .stat--number {
        color: $colors-mint-cool-40v;
        font-size: 56px;
        font-weight: 300;
        margin: 0;
        text-align: center;
        line-height: 50px;
        padding-bottom: 8px;
      }

      .stat--text {
        margin: auto;
      }
    }
  }
}

.section--case-study--stats {
  .stats--wrapper {
    margin-bottom: -167px;
    @media(min-width: $medium-large-screen) {

    }
  }

}