.staff-quote {
  width: 100%;
  color: $colors-grey-90;
  background-color: $colors-white;
  padding: 85px 0;
  margin: 48px 0 0;
  @media (min-width: $tablet-screen) {
    margin: 56px 0 0;
  }
  @media (min-width: $medium-large-screen) {
    background-color: $colors-grey-warm-4;
    margin: 72px 0 0;
  }

  h4,
  .body {
    text-align: left;
  }

  h4 {
    margin-bottom: 32px;
    //@media(min-width: $medium-large-screen) {
    //  font-size: 28p;
    //}
  }

  .h3 {
    padding: 0;
    text-align: left;
    font-weight: 300;
    margin-top: 0;
    @media(min-width: $medium-large-screen) {
      line-height: 39px;
    }
  }

  .inner {
    position: relative;
    max-width: 720px;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    //align-items: center;
    //text-align: center;
    padding: 0 20px;
    margin: 0 24px;
    @media(min-width: $tablet-screen) {
      margin: 0 48px;
    }
    @media(min-width: $medium-large-screen) {
      margin: 0 auto;
    }
  }

  .picture {
    width: 173px;
    height: 223px;
    object-fit: cover;
    //margin-right: 32px;
    margin-left: 22px;
  }

  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 26px;
    @media(min-width: $tablet-screen) {
      max-width: 56px;
    }
    @media(min-width: $medium-large-screen) {
      top: -9px;
    }

  }

  .quote {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-left: 44px;
    @media(min-width: $tablet-screen) {
      margin-left: 64px;
    }
    @media(min-width: $medium-large-screen) {
      margin-left: 32px;
    }
  }


  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }
  }

  @media screen and (max-width: $tablet-screen) {
    padding: 55px 0;


    .picture {
      display: none;
    }


  }
}

.mobile-tan-bkgd {
  background-color: $colors-grey-warm-4;
  @media(min-width: $medium-large-screen) {
    margin-bottom: 56px;
  }

  .quote {
    margin-left: 32px;
  }
}

.no-img {
  .pattern {
    @media(min-width: $medium-large-screen) {
      top: 0 !important;
    }
  }

  .quote {
    @media(min-width: $medium-large-screen) {
      margin-left: 80px;
    }
  }
}
