.staff-quote {
  width: 100%;
  color: $colors-grey-90;
  background-color: $colors-white;
  padding: 85px 0;
  @media (min-width: 1024px) {
    background-color: $colors-grey-warm-4;
  }
  .inner {
    margin: 0 24px;
    @media(min-width: $tablet-screen) {
      margin: 0 48px;
    }
    @media(min-width: $medium-large-screen) {
      margin: 0 auto;
    }
  }
  h4,
  .body {
    text-align: left;
  }

  h4 {
    margin-bottom: 32px;
  }
  .h3 {
    padding: 0;
    text-align: left;
    font-weight: 300;
    margin-top: 0;
  }

  .inner {
    position: relative;
    max-width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }

  .picture {
    width: 173px;
    height: 223px;
    object-fit: cover;
    margin-right: 32px;
  }

  .pattern {
    position: absolute;
    top: 5px;
    left: 0;
    max-width: 26px;
    @media(min-width: $tablet-screen) {
      max-width: 56px;
    }

  }
  .quote {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    @media(min-width: $tablet-screen) {
      padding-left: 32px;
    }
    @media(min-width: $medium-large-screen) {
      padding-left: 50px;
    }
  }


  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }
  }

  @media screen and (max-width: $tablet-screen) {
    padding: 55px 0;
    margin: 48px 0;

    .picture {
      display: none;
    }

    .quote {
      margin-left: 20px;
    }
  }
}
