.careers--offerings-section {
  width: 100%;
  padding: 120px 0;

  .inner {
    position: relative;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  h3 {
    max-width: 850px;
    font-weight: 300;
  }

  .body {
    max-width: 720px;
    font-weight: 300;
    margin: 24px 0 40px;
  }

  .offerings-grid {
    margin: 64px 0 120px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: inline-grid;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  img {
    width: 100%;
  }

  @media screen and (max-width: $large-screen) {
    .inner {
      margin: 0 5vw;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }
  }
}
