.careers--offerings-section {
  width: 100%;
  padding: 48px 0;
  @media (min-width: $medium-large-screen) {
    padding: 36px 0;
  }

  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  h2 {
    max-width: 850px;
    font-weight: 300;
  }

  .body {
    max-width: 720px;
    font-weight: 300;
    margin: 24px 0 40px;
  }

  .offerings-grid {
    @media(min-width: $medium-large-screen) {
      margin: 64px 0 120px;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      display: inline-grid;
      grid-column-gap: 60px;
      grid-row-gap: 60px;
    }

    .offering {
      h3 {
        float: left;
        padding-left: 22px;
        padding-top: 15px;
        @media(min-width: $medium-large-screen) {
          clear: both;
          padding: 0;
        }
      }

      img {
        float: left;
        width: 57px;
        height: 57px;
        padding-left: 10px;
        @media(min-width: $medium-large-screen) {
          width: 90px;
          height: 90px;
        }
      }

      .body {
        clear: both;
      }
    }
  }

  img {
    width: 100%;
  }


  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }
  }
}
