.careers--open-positions-section {
  width: 100%;
  padding: 70px 0;
  background-color: $colors-mint-cool-60v;
  margin: 120px 0 70px;

  .inner {
    position: relative;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  h3 {
    max-width: 850px;
    font-weight: 300;
    color: $colors-white;
  }

  .body {
    max-width: 720px;
    font-weight: 300;
    margin: 24px 0 40px;
    color: $colors-white;
  }

  .no-job {
    padding: 32px;
    background-color: #2c7773;
    width: 100%;

    p {
      font-weight: 600;
      margin: 0;
    }
  }

  .jobs-grid {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: inline-grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .job {
    color: $colors-grey-90;
    background-color: $colors-white;
    padding: 56px 32px;
    margin: 0;
    position: relative;


    img {
      position: absolute;
      right: 30px;
      top: 45%;
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
                      -50deg
      ) saturate(600%) contrast(0.8);
    }


  }

  @media screen and (max-width: $large-screen) {
    .inner {
      margin: 0 5vw;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }
  }
}
