.careers--we-section {
  width: 100%;
  background-color: $colors-grey-warm-4;
  margin-bottom: 0;
  padding-bottom: 48px;
  @media(min-width: $medium-large-screen) {
    background: linear-gradient(
                    $colors-white 15%,
                    $colors-grey-warm-4 15%,
                    $colors-grey-warm-4 75%,
                    $colors-white 75%);
  }


  .inner {
    position: relative;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    row-gap: 90px;
  }

  h3 {
    max-width: 850px;
    font-weight: 300;
  }

  .body {
    max-width: 720px;
    font-weight: 300;
    margin: 24px 0 40px;
  }

  .what-we-look-for,
  .who-we-are {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: space-between;

    h2,
    .icon {
      float: left;
    }

    h2 {
      padding-bottom: 16px;
      @media(min-width: $medium-large-screen) {
        padding-bottom: 0;
      }
    }

    .body {
      margin: 0;
      @media(min-width: $medium-large-screen) {
        margin: 24px 0 40px;
      }
    }

    .icon {
      margin-top: -30px;
      @media(min-width: $medium-large-screen) {
        margin-left: 24px;
        margin-top: -13px;
      }

    }

    p {
      clear: both;
    }
  }

  .who-we-are > .left-aligned {
    max-width: 584px;
  }

  .what-we-look-for > .right-aligned {
    max-width: 584px;
  }

  @media screen and (max-width: $large-screen) {
    .who-we-are {
      flex-wrap: wrap-reverse;
    }
    .what-we-look-for {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $medium-large-screen) {
    .inner {
      align-items: flex-start;
    }

    .who-we-are {
      flex-wrap: wrap;
      padding-top: 40px;
    }

    .what-we-look-for {
      flex-wrap: wrap-reverse;
    }
    .icon {
      width: auto;
    }
    img {
      width: 100%;
    }
  }
}
