.section--case-study--approaches {
  @media(min-width: $medium-large-screen) {
    margin-bottom: 30px;
  }

  .inner {
    overflow: auto;
  }

  .first-approach {
    margin-top: 0 !important;
  }

  .caption {
    padding-top: 4px;
  }

  .first-approach {
    @media(min-width: $medium-large-screen) {
      margin-bottom: 80px !important;
    }

  }

  .approach,
  .first-approach {
    max-width: 720px;
    @media(min-width: $tablet-screen) {
      margin-bottom: 40px;
    }
    @media(min-width: $medium-large-screen) {
      margin: 60px auto 56px;
    }

    h3 {
      padding-bottom: 14px;
    }

    p {
      margin: 24px 0;
    }

    p:last-child {
      padding-bottom: 0;

    }
  }

  .approach--with-image {
    //margin: 24px 0 0;
    @media(min-width: $tablet-screen) {
      margin-bottom: 56px;
    }
    @media(min-width: $medium-large-screen) {
      display: flex;

    }
    .image--wrapper {
      display: none;
      @media(min-width: $tablet-screen) {
        display: block;
      }
    }
    img {
      width: 100%;
      @media(min-width: $medium-large-screen) {
        width: 640px;
        height: 341px;
      }
    }

    .title-text--wrapper {
      @media(min-width: $medium-large-screen) {
        margin-right: 45px;
      }
    }
  }
}