.section--more-clients {
  padding: 0;
  display: none;
  @media(min-width: 1200px) {
    max-width: $max-width;
    margin: 0 auto 88px;
  }

  h2 {
    margin: 0 24px;
    @media(min-width: $tablet-screen) {
      margin: 0 48px;
    }
    @media(min-width: 1200px) {
      margin: 0;
      line-height: 50px;
    }
  }

  .inner {
    padding-top: 32px;
    @media(min-width: $medium-large-screen) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
    }

    & > div {
      background-color: $colors-grey-warm-4;
      padding: 24px;
      margin-bottom: 32px;
      @media(min-width: $medium-large-screen) {
        padding: 48px;
      }
    }

    .case-studies--icon {
      width: 53px;
      height: 53px;
      float: left;
    }

    label {
      font-size: 20px;
      padding-left: 24px;
      float: left;
      padding-top: 25px;
      font-weight: 300;
      width: 70%;
      @media(min-width: $tablet-screen) {
        font-size: 28px;
        padding-top: 17px;
      }
    }

    ul {
      clear: both;
      padding-top: 24px;


    }
  }

}

.section--more-clients[class*="Web_CMS"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .web-cms {
      display: block;
    }
  }
}

.section--more-clients[class*="IT_Service_Modernization"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .it-service {
      display: block;
    }
  }
}

.section--more-clients[class*="Product_Design"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .product-design {
      display: block;
    }
  }
}

.section--more-clients[class*="Security_Compliance"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .security {
      display: block;
    }
  }
}

.section--more-clients[class*="Data_Services"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .data-services {
      display: block;
    }
  }
}

.section--more-clients[class*="Workforce_Development"] {
  display: block;
  .inner {
    & > div {
      display: none;
    }

    .development {
      display: block;
    }
  }
}
