.case-studies {
  .hero-component {
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    @media(min-width: $tablet-screen) {
      margin-top: 20px;
    }
    @media(min-width: $large-screen) {
      margin-top: 0;
    }

    .inner {
      display: grid;
      @media(min-width: $tablet-screen) {
        padding: 0 0 40px;
      }
      @media(min-width: $medium-large-screen) {
        padding: 0 0 64px;
        max-width: 725px;
        margin: 0 auto;
      }

      .client-name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        grid-area: 1/3;
      }

      h1 {
        grid-area: 2/3;
        padding-bottom: 6px;
      }

      p {
        grid-area: 3/3;
      }
    }

  }

  .case-study--hero-image {
    @media(min-width: $tablet-screen) {
      margin-top: 24px;
      margin-bottom: 64px;
    }
    @media(min-width: $large-screen) {
      margin-bottom: 80px;
      margin-top: 0;
    }

    img {
      width: 100%;

    }
  }


  .section--case-study--outcomes {
    background-color: #0F6460;
    padding: 32px 0;
    margin-bottom: 0;
    @media(min-width: $medium-large-screen) {
      padding: 48px 0;
    }
    @media(min-width: $medium-large-screen) {
      padding: 80px 0;
    }

    h2 {
      color: $colors-white;
      text-align: center;
      padding-bottom: 48px;
    }

    .inner {
      @media(min-width: $medium-large-screen) {
        display: flex;
        //grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .key-outcome {
        background-color: #E7EFEF;
        padding: 32px 24px;
        margin-bottom: 16px;
        flex-basis: 27.33%;
        @media(min-width: $medium-large-screen) {
          margin-bottom: 0;
        }

        .label {
          font-weight: bold;
          text-transform: uppercase;

        }

      }

    }
  }

  .section--case-study--staff {
    background-color: #F5F5F0;
    margin-bottom: 0;

    h2 {
      padding-top: 32px;
      @media(min-width: $tablet-screen) {
        padding-top: 48px;
      }
      @media(min-width: $medium-large-screen) {
        text-align: center;
        padding-top: 64px;
      }
    }

    .related-staff--wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .related-staff {
        max-width: 170px;
        width: 100%;
        padding: 20px;
        @media(min-width: $tablet-screen) {
          padding: 28px 28px 28px 0;
        }
        @media(min-width: $medium-large-screen) {
          padding: 48px;
        }

        img {
          width: 114px;
        }
      }

      .staff-role {
        font-size: 16px;
      }
    }
  }

  .section--case-study--related {
    max-width: $max-width;
    margin: 32px auto;
    @media(min-width: $tablet-screen) {
      margin: 48px auto 56px;
    }
    @media(min-width: $medium-large-screen) {
      margin: 64px auto 147px;
    }

    h2 {
      padding-bottom: 23px;
    }

    .inner {
      margin: 0;
      @media(min-width: $medium-large-screen) {
        display: flex;
      }

      .related-case-study {
        display: grid;
        max-width: 373px;
        @media(min-width: $medium-large-screen) {
          margin-right: 35px;
        }

        img {
          max-width: 373px;
        }

        a {
          padding-top: 22px;
          font-size: 20px;
          font-weight: 300;
        }
      }

      .related-case-study:last-child {
        margin-right: 0;
      }
    }
  }

}