.case-studies {
  .hero-component {
    box-shadow: none;
    .inner {
      display: grid;
      .client-name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        grid-area: 1/3;
      }
      h1 {
        grid-area: 2/3;
      }
      p {
        grid-area: 3/3;
      }
    }

  }
  .case-study--hero-image {
    img {
      width: 100%;
      margin-bottom: 127px;
    }
    @media(min-width: 1200px) {
      margin: 0 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  .section--case-study--stats {
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);
    background-color: $colors-white;
    overflow: overlay;

    @media(min-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto -100px;

    }
    .inner {
      @media(min-width: 768px) {
        display: flex;
        justify-content: center;
        margin: 0 20px;
      }
      @media(min-width: 1024px) {
        padding: 0 120px;
      }
      .single-stat:last-child {
        @media(min-width: 1024px) {
          margin-right: 0;
        }
      }
      .single-stat {
        display: flex;
        @media(min-width: 1024px) {
          margin-right: 50px;
        }
        .stat--number {
          color: $colors-mint-cool-40v;
          font-size: 56px;
          font-weight: 400;
          margin-right: 24px;
        }
        .stat--text {
          margin: auto;
        }
      }
    }
  }

  .staff-quote.quote {
    padding: 221px 0 72px;
    .inner {
      max-width: 916px;
      padding: 0;
    }
    .source {
      padding-top: 23px;
      font-weight: 300;
    }
    .quote {
      margin-left: 75px;
    }
  }
  .section--case-study--challenge-to-tools {
    padding: 72px;
    margin-bottom: 0;
    .inner {

      .case-study-challenge-goal {
        max-width: 720px;
        margin: 0 auto;
        h2 {
          padding-bottom: 24px;
        }
        .challenge,
        .goal {
          padding-bottom: 64px;
        }
      }
      .case-study--expertise-tools {
        @media (min-width: 1024px) {
          display: flex;
        }
        .expertise,
        .tools {
          background-color: #F5F5F0;
          width: 100%;
          padding: 48px 82px;
        }
        .tools {
          @media (min-width: 1024px) {
            margin-left: 24px;
          }
        }
      }
    }
  }
  .section--case-study--approaches {
    .inner {
      overflow: auto;
    }
    .first-approach {
      margin-top: 0 !important;
    }
    .approach,
    .first-approach {
      max-width: 720px;
      margin: 60px auto;
      h2 {
        padding-bottom: 8px;
      }
      h3 {
        padding-bottom: 14px;
      }
      p {
        padding-bottom: 10px;
      }
    }
    .approach--with-image {
      margin: 60px 0;
      @media(min-width: 1024px) {
        display: flex;

      }
      img {
        @media(min-width: 1024px) {
          min-width: 640px;
        }
      }
      .title-text--wrapper {
        @media(min-width: 1024px) {
          margin-right: 45px;
        }
      }
    }
  }
  .section--case-study--outcomes {
    background-color: #0F6460;
    padding: 64px 0;
    margin-bottom: 0;
    h2 {
      color: $colors-white;
      text-align: center;
      padding-bottom: 48px;
    }
    .inner {
      @media(min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 0 120px !important;
      }
      .key-outcome {
        background-color: #E7EFEF;
        padding: 32px 24px;
        .label {
          font-weight: bold;
          text-transform: uppercase;

        }

      }

    }
  }
  .section--case-study--staff {
    background-color: #F5F5F0;
    margin-bottom: 60px;
    h2 {
      text-align: center;
      padding-top: 64px;
    }
    .related-staff--wrapper {
      @media(min-width: 768px) {
        display: flex;
        justify-content: center;
      }
      .related-staff {
        padding: 20px;
        @media(min-width: 768px) {
          padding: 28px;
        }
        @media(min-width: 1024px) {
          padding: 48px;
        }
      }

      .staff-role {
        font-size: 16px;
      }
    }
  }
  .section--case-study--related {
    max-width: 1200px;
    margin: 0 auto 120px;
    h2 {
      padding-bottom: 23px;
    }
    .inner {
      margin: 0;
      @media(min-width:1024px) {
        display: flex;
      }
      .related-case-study {
        display: grid;
        max-width: 373px;
        @media(min-width: 1024px) {
          margin-right: 35px;
        }
        img {
          max-width: 373px;
        }
        a {
          padding-top: 22px;
          font-size: 20px;
        }
      }
      .related-case-study:last-child {
        margin-right: 0;
      }
    }
  }

}