.staff-quote.quote {
  //padding: 228px 0 72px;
  @media(min-width: $medium-large-screen) {
    //padding: 140px 0 72px;
  }

  .inner {
    max-width: 916px;
    padding: 0;
  }
  .source {
    padding-top: 23px;
    font-weight: 300;
  }
  //.quote {
  //  margin-left: 50px;
  //  @media(min-width: $medium-large-screen) {
  //    margin-left: 20px;
  //  }
  //}
}
.first-quote {
  background-color: $colors-grey-warm-4 !important;
}
.case-studies {
  .staff-quote.first-quote {
    @media(min-width: $medium-large-screen) {
      padding-top: 196px;
    }
    .h3 {
      @media(min-width: $medium-large-screen) {
        line-height: 39px;
        margin-bottom: 0;
      }
    }
    .body {
      @media(min-width: $medium-large-screen) {
        padding-top: 24px;
      }
    }

  }
}
.section--case-study--stats {
  .stats--wrapper {
    margin-bottom: -241px;
    @media(min-width: $medium-large-screen) {
      margin-bottom: -100px;
    }
  }

}