.section--case-studies--teasers .inner,
.home--case-studies-section .teasers {
  clear: both;
  @media(min-width: $tablet-screen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    max-width: $max-width;
    margin-top: 40px;
  }
  @media(min-width: $medium-large-screen) {
    margin-top: 48px;
  }

  @media(min-width: 1200px) {
    margin: 0 auto ;
  }

  .no-img-teaser {
    width: 100%;
    height: 235px;
    background-color: #1B1B1B;
    opacity: .85;
    @media(min-width: $tablet-screen) {
      height: 230px;
    }
    @media(min-width: $tablet-screen) {
      height: 426px;
    }
    @media(min-width: 1200px) {
      min-width: 584px;

    }
  }
  a {
    &:hover,
    &:focus,
    &:focus-within {
      overflow: hidden;
      .teaser-content {
        z-index: 1;
        opacity: 1;
        background: transparent;
        .title-wrapper {
          order: 2;

        }

      }
      .summary {
        display: block;
        top: 0;
        position: absolute;
        background: #1B1B1B;
        opacity: 0.75;
        padding: 16px;
        color: $colors-white;
        height: 100%;
        @media(min-width: $tablet-screen) {
          font-size: 16px;
          line-height: 24px;
          padding: 24px;
        }
        @media(min-width: $medium-large-screen) {
          padding: 40px;
          font-size: 20px;
          line-height: 33px;
        }
      }
    }
    .wrapper--case-study--teaser {
      height: 300px;
      position: relative;
      margin-bottom: 40px;
      overflow: hidden;
      @media(min-width: $tablet-screen) {
        height: 280px;
      }
      @media(min-width: $medium-large-screen) {
        height: 395px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .summary {
      display: none;
    }
    .teaser-content {
      position: absolute;
      bottom: 0;
      background: #1B1B1B;
      opacity: 0.75;
      width: 100%;
      box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.3);

      .title-wrapper {
        padding: 16px;
        @media(min-width: $tablet-screen) {
          padding: 24px;
        }
        @media(min-width: $medium-large-screen) {
          padding: 40px;
        }
      }
      h2,
      span,
      .summary {
        color: $colors-white;
      }
      .client-name {
        font-size: 14px;
        @media(min-width: $medium-large-screen) {
          font-size: 18px;
        }

      }
      h2 {
        margin-top: 8px;
        order: 2;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
        @media(min-width: $tablet-screen) {
          margin-top: 0;
        }
        @media(min-width: $medium-large-screen) {
          font-size: 28px;
          line-height: 39px;
          margin-top: 16px;
        }

      }
      .title-wrapper {
        display: grid;
      }
      span {
        //position: absolute;
        //top: 40px;
        order: 1;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
      }

    }
  }
}

.home--case-studies-section .teasers {
  @media(min-width: $large-screen) {
    margin-top: 40px;
  }
}
